@model Restaurant.Models.Invoices

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMethods.Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethods.Method)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
