@model Restaurant.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllPaidTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllPaidTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tables.TbCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tables.TbCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
